body{
    background-color: rgb(129, 164, 238);
    font: normal 15pt arial;
}

header{
    text-align: center;
    color: white;
}

section{
    background: white;
    width: 500px;
    margin: auto;
    border-radius: 15px;
    padding: 15px;
}

footer{
    text-align: center;
    color: white;
}